.content-data {
	display: flex;
	flex-wrap: wrap-reverse;
}

.content-data .pre-card-section-title {
	max-width: 500px;
}

.content-data .content-scans-list {
	max-width: 570px;
}

.content-scans-list {
	flex-grow: 1;
	flex-basis: 570px;
}

.content-data .floating-action-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.content-data .barcode-chart {
	flex: 1 0 300px;
	align-self: flex-end;
	padding: 10px;
}

.content-data .no-scans-add {
	cursor: pointer;
	font-size: 1.6rem;
	vertical-align: middle;
	margin-left: 4px;
	color: #16564f;
}

.content-data .barcode-chart {
	margin-bottom: 20px;
}
